In [28]:
import numpy as np
import pandas as pd
import statistics as stat
from statistics import mode
import matplotlib.pyplot as plt
import seaborn as sns

ABOUT THIS DATA :
This dataset contains customer treadmill purchase information.
To explore the dataset to identify differences between customers of each product.
DATA FIELDS :-
Product - the model no. of the treadmill
Age - in no of years, of the customer
Gender - of the customer
Education - in no. of years, of the customer
Marital Status - of the customer
Usage - Avg. # times the customer wants to use the treadmill every week
Fitness - Self rated fitness score of the customer (5 - very fit, 1 - very unfit)
Income - of the customer
Miles- expected to run

In [3]:
# upload csv file 

trademillsales= pd.read_csv(r"C:\Users\sanja\Desktop\projects\Exploratorydataanalysiscustomer treadmill purchase information\CardioGoodFitness.csv")

In [4]:
trademillsales.describe()

,Age,"Education = in no. of years, of the customer",Usage = Avg. # times the customer wants to use the treadmill every week,"Fitness = Self rated fitness score of the customer (5 - very fit, 1 - very unfit)",Income,Miles = expected to run
count,180.000000,180.000000,180.000000,180.000000,180.000000,180.000000
mean,28.788889,15.572222,3.455556,3.311111,53719.577778,103.194444
std,6.943498,1.617055,1.084797,0.958869,16506.684226,51.863605
min,18.000000,12.000000,2.000000,1.000000,29562.000000,21.000000
25%,24.000000,14.000000,3.000000,3.000000,44058.750000,66.000000
50%,26.000000,16.000000,3.000000,3.000000,50596.500000,94.000000
75%,33.000000,16.000000,4.000000,4.000000,58668.000000,114.750000
max,50.000000,21.000000,7.000000,5.000000,104581.000000,360.000000

Age 
mean = 28.788889	median = 26    mode = 3 median - 2 mean

In [5]:
mode = 3*26- 2*28.788889
print(mode)

20.422221999999998

In [6]:
trademillsales.mode

<bound method DataFrame.mode of     Product = the model no. of the treadmill  Age  Gender  \
0                                      TM195   18    Male
1                                      TM195   19    Male
2                                      TM195   19  Female
3                                      TM195   19    Male
4                                      TM195   20    Male
..                                       ...  ...     ...
175                                    TM798   40    Male
176                                    TM798   42    Male
177                                    TM798   45    Male
178                                    TM798   47    Male
179                                    TM798   48    Male

     Education = in no. of years, of the customer MaritalStatus  \
0                                              14        Single
1                                              15        Single
2                                              14     Partnered
3                                              12        Single
4                                              13     Partnered
..                                            ...           ...
175                                            21        Single
176                                            18        Single
177                                            16        Single
178                                            18     Partnered
179                                            18     Partnered

     Usage = Avg. # times the customer wants to use the treadmill every week  \
0                                                    3
1                                                    2
2                                                    4
3                                                    3
4                                                    4
..                                                 ...
175                                                  6
176                                                  5
177                                                  5
178                                                  4
179                                                  4

     Fitness = Self rated fitness score of the customer (5 - very fit, 1 - very unfit)  \
0                                                    4
1                                                    3
2                                                    3
3                                                    3
4                                                    2
..                                                 ...
175                                                  5
176                                                  4
177                                                  5
178                                                  5
179                                                  5

     Income  Miles = expected to run
0     29562                      112
1     31836                       75
2     30699                       66
3     32973                       85
4     35247                       47
..      ...                      ...
175   83416                      200
176   89641                      200
177   90886                      160
178  104581                      120
179   95508                      180

[180 rows x 9 columns]>

In [7]:
trademillsales.head()

,Product = the model no. of the treadmill,Age,Gender,"Education = in no. of years, of the customer",MaritalStatus,Usage = Avg. # times the customer wants to use the treadmill every week,"Fitness = Self rated fitness score of the customer (5 - very fit, 1 - very unfit)",Income,Miles = expected to run
0,TM195,18,Male,14,Single,3,4,29562,112
1,TM195,19,Male,15,Single,2,3,31836,75
2,TM195,19,Female,14,Partnered,4,3,30699,66
3,TM195,19,Male,12,Single,3,3,32973,85
4,TM195,20,Male,13,Partnered,4,2,35247,47

In [8]:
trademillsales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column                                                                             Non-Null Count  Dtype
---  ------                                                                             --------------  -----
 0   Product = the model no. of the treadmill                                           180 non-null    object
 1   Age                                                                                180 non-null    int64
 2   Gender                                                                             180 non-null    object
 3   Education = in no. of years, of the customer                                       180 non-null    int64
 4   MaritalStatus                                                                      180 non-null    object
 5   Usage = Avg. # times the customer wants to use the treadmill every week            180 non-null    int64
 6   Fitness = Self rated fitness score of the customer (5 - very fit, 1 - very unfit)  180 non-null    int64
 7   Income                                                                             180 non-null    int64
 8   Miles = expected to run                                                            180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [9]:
# Rename columns to make it easy.
trademillsales_df= pd.DataFrame(trademillsales)
trademillsales_df.rename(columns = {'Product = the model no. of the treadmill':'Product', ' Education = in no. of years, of the customer':'Education',' Usage /= Avg. /# times the customer wants to use the treadmill every week':'Usage','Fitness = Self rated fitness score of the customer (5 - very fit, 1 - very unfit)':'Fitness','Miles = expected to run':'Miles'}, inplace = True)
trademillsales_df.rename(columns = {'Education = in no. of years, of the customer':'Education',"Usage = Avg. # times the customer wants to use the treadmill every week":'Usage',}, inplace = True)

In [10]:
trademillsales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Product        180 non-null    object
 1   Age            180 non-null    int64
 2   Gender         180 non-null    object
 3   Education      180 non-null    int64
 4   MaritalStatus  180 non-null    object
 5   Usage          180 non-null    int64
 6   Fitness        180 non-null    int64
 7   Income         180 non-null    int64
 8   Miles          180 non-null    int64
dtypes: int64(6), object(3)
memory usage: 12.8+ KB

In [11]:
product = trademillsales_df.Product.unique()
print(product)
print(len(product))

['TM195' 'TM498' 'TM798']
3

In [12]:
gender = trademillsales_df.Gender.unique()
print(gender)
print(len(gender))

['Male' 'Female']
2

In [ ]:
def skewness():

creating a pivot table to analysie the data 
as we need to analyse the customer of each product i.e. TM195 , TM498  , TM798 .

In [30]:
GENDERPRODUCT=pd.pivot_table(trademillsales,values="Age",index=["Gender","MaritalStatus"],columns="Product",aggfunc=["median","mean","count"])
print(GENDERPRODUCT)

                     median                   mean                        \
Product               TM195 TM498 TM798      TM195      TM498      TM798
Gender MaritalStatus
Female Partnered       27.0  31.0  29.0  28.333333  30.000000  29.000000
       Single          26.0  25.5  24.0  28.692308  28.142857  24.333333
Male   Partnered       30.0  31.0  27.0  31.380952  30.380952  30.000000
       Single          25.0  25.0  25.5  25.631579  25.200000  28.928571

                     count
Product              TM195 TM498 TM798
Gender MaritalStatus
Female Partnered        27    15     4
       Single           13    14     3
Male   Partnered        21    21    19
       Single           19    10    14

In [31]:
PRODUCTUSAGE = pd.pivot_table(trademillsales,values="Usage",index="Product",columns=["Gender","MaritalStatus"],aggfunc=["median","mean","count"])
print(PRODUCTUSAGE)

                 median                              mean                      \
Gender           Female             Male           Female                Male
MaritalStatus Partnered Single Partnered Single Partnered    Single Partnered
Product
TM195               3.0    3.0       3.0    3.0  2.851852  3.000000  3.285714
TM498               3.0    3.0       3.0    3.0  3.333333  2.928571  2.857143
TM798               5.5    5.0       4.0    4.5  5.250000  4.666667  4.842105

                            count
Gender                     Female             Male
MaritalStatus    Single Partnered Single Partnered Single
Product
TM195          3.263158        27     13        21     19
TM498          3.300000        15     14        21     10
TM798          4.571429         4      3        19     14

In [14]:
plt.bar(GENDERPRODUCT)

TypeError: bar() missing 1 required positional argument: 'height'